---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=22CKDN&client_secret=86a58c4f41fce15931162f92c536d92d&code=59aebe8b49835ed11716056fd69ffc423e65cc8f&grant_type=authorization_code&redirect_uri=http%3A%2F%2Fwww.example.com%2Fauth%2Ffitbit%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjJDS0ROOjg2YTU4YzRmNDFmY2UxNTkzMTE2MmY5MmM1MzZkOTJk
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"errorType":"invalid_grant","message":"Authorization code
        invalid: 59aebe8b49835ed11716056fd69ffc423e65cc8f Visit https://dev.fitbit.com/docs/oauth2
        for more information on the Fitbit Web API authorization process."}],"success":false}'
  recorded_at: Mon, 06 Nov 2017 06:36:19 GMT
recorded_with: VCR 3.0.3
